
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 1%;
    right: 15%; 
   
  }
  
  .navbar-brand img {
    height: 70px; /* Adjust the height of your logo */
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    justify-content:space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 40px;
    
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 5px solid black;
  }
  
  .nav-link:hover {
    color: #007bff; /* Change the hover color as needed */
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:black;
    
    
  }
  
  .dropdown-item {
    padding: 5px 10px;
    background-color: #FFF;
      margin-bottom: 10px;
  }
  