.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-image1 {
  object-fit: cover;
  width: 500px;
height: 880px;
top: -2607px;
left: -7763px;
gap: 0px;
opacity: 0px;

}

.bg-image2 {
 
  object-fit: cover;
  width: 1381px;
height: 880px;
top: -2607px;
left: -7224px;
gap: 0px;
opacity: 0px;

}
